@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

$lineHeight: 6px;
$borderWidth: 1px;
$color: #000;
$fillLineHeight: 2px;
$fillHollowPadding: 1px;

.leaflet-control-graphicscale {
	padding-left: 10px;

	.lbl {
		width: 20px;
	  	text-align: center;
	  	margin-left: -10px;
	}

	.unitLbl {
		position: relative;
	  	left: 100%;
	  	opacity: 1;
	  	@include transition(opacity, .4s, linear);
	}

	.zeroLbl {
		position: absolute;
	}

	.unit {
		display: inline-block;
		width: 40px;
		@include transition(width, 0.4s, ease-in-out);

		.l1, .l2 {
			width: 100%;
			border-color: $color;
			border-style: solid;
		}

		.l2 {
			height: 0;
			border-width: 0;
		}

		.l1 {
			height: $lineHeight;
			border-width: $borderWidth $borderWidth $borderWidth 0;
		}

		&:first-child .l1 {
			border-left-width: $borderWidth;
		}

		&.hidden {
			width: 0;

			.l1, .l2 {
				height: 0;
				border-width: 0;				
			}

			.lbl {
				opacity: 0;
			}
		}

	}

	.l1inner, .l2inner {
		width: 100%;
		height: 100%;
		position: relative;
	}

	&.double {
		.unit {
			.l2 {
				height: $lineHeight;
				border-width: 0 $borderWidth $borderWidth 0;
			}

			&:first-child .l2 {
				border-left-width: $borderWidth;
			}
		}

	}

	&.fill {
		.unit:nth-child(odd) .l1 .l1inner {
			background-color: #000;
		}
		.unit:nth-child(even) .l2 .l2inner {
			background-color: #000;
		}

	}

	&.fill-line {

		@mixin fill-line {
			height: 2px;
			top: $lineHeight/2 - $fillLineHeight/2;
		}

		.l1inner {
			@include fill-line;
		}

		&.double .l2inner {
			@include fill-line;
		}
	}

	&.fill-hollow {
		.l1inner, .l2inner {
			top: $fillHollowPadding;
			left: $borderWidth + $fillHollowPadding;
			height: calc(100% - 2px);
			width: calc(100% - 3px);
		}

		.unit:first-child .l1inner {
			left: $fillHollowPadding;
			width: calc(100% - 2px);
		}
	}
}
